<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <nav>
        <a href="">
            <img src="imagenes/school.png" alt="school">
        </a>
        <button class="btnLog">
            <img src="imagenes/log-in.png" alt="">
        </button>
    </nav>
    <script>
        let btn = document.querySelector(".btnLog");
        //console.log(btn);
        let sw=1;
        btn.addEventListener("click",()=>{
            if(sw==1){
                sw=2;
                
                btn.children[0].setAttribute("src","imagenes/logout.png");

            }else{
                sw=1;
                btn.children[0].setAttribute("src","imagenes/log-in.png");
            }
        })
    </script>
</body>
</html>