<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="navbar mb50">
        <div class="item-izquierda">
            <span class="logo">logo</span>
        </div>
        <div class="item-derecha">
            <ul class="lista center">
            	<li class="op op1">inicio</li>
                <li class="op op2">nosotros</li>
                <li class="op op3">contactanos</li>
            </ul>
        </div>  
       
    </div>
    <div class="containerProgramaEst center">
        <span><img src="/imagenes/book.png" alt=""/></span><h3 class="mb35">Creando programa de estudio</h3>
        <form class="formularioProgramaEst"action="">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre"/>
            <label for="codigo_dpto" name="Sección">Seleccione departamento</label>                
                <select name="codigo_dpto" id="">
                    ____________________________________
                    <option value="">
                        item1
                    </option>
                    ____________________________________
                </select>
            <label for="uuid_plan" name="Sección">Seleccione plan de estudio</label>                
                <select name="uuid_plan" id="">
                    ____________________________________
                    <option value="">
                        item1
                    </option>
                    ____________________________________
                </select>
            <div class="center">
                <button class="btnCurso "></button>
            </div>
            
        </form>
        
    </div>
    
</body>
</html>