<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>
    <div class="navbar mb50">
        <div class="item-izquierda">
            <span class="logo">logo</span>
        </div>
        <div class="item-derecha">
            <ul class="lista center">
            	<li class="op op1">inicio</li>
                <li class="op op2">nosotros</li>
                <li class="op op3">contactanos</li>
            </ul>
        </div>  
       
    </div>
    <div class="containerDepartamento center">
        <span><img src="../../images/diploma.png" alt=""></span><h3 class="mb35">Creando departamento</h3>
        <form class="formularioDepartamento" action="">
            <label for="nombre" class="form-label">Nombre</label>
            <input class="form-control" type="text" id="nombre" name="nombre" >
        </form>        
    </div>
    
</body>
</html>