<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="navbar mb50">
        <div class="item-izquierda">
            <span class="logo">logo</span>
        </div>
        <div class="item-derecha">
            <ul class="lista center">
            	<li class="op op1">inicio</li>
                <li class="op op2">nosotros</li>
                <li class="op op3">contactanos</li>
            </ul>
        </div>  
       
    </div>
    <div class="containerCursoEst center">
        <span><img src="/imagenes/notebook.png" alt=""></span><h3 class="mb35">Creando plan de estudio</h3>
        <form class="formularioCursoEst"action="">
            <label for="">Nombre</label>
            <input type="text"> 
            <label for="">Asignaturas</label>               
            <input type="checkbox" id="asignatura1" name="asignatura1" value="asignatura">
            <label for="asignatura1">asignatura1</label><br>
            <input type="checkbox" id="asignatura2" name="asignatura2" value="asignatura">
            <label for="asignatura1">asignatura2</label><br>
            <input type="checkbox" id="asignatura3" name="asignatura3" value="asignatura">
            <label for="asignatura1">asignatura3</label><br>
            <div class="center">
                <input class="btnCurso " type="submit">
            </div>
            
        </form>
        
    </div>
    
</body>
</html>