<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="navbar mb50">
        <div class="item-izquierda">
            <span class="logo">logo</span>
        </div>
        <div class="item-derecha">
            <ul class="lista center">
            	<li class="op op1">inicio</li>
                <li class="op op2">nosotros</li>
                <li class="op op3">contactanos</li>
            </ul>
        </div>  
       
    </div>
    <div class="containerPeriodo center">
        <span><img src="/imagenes/hourglass.png" alt=""></span><h3 class="mb35">Creando Estudiante</h3>
        <form class="formularioPeriodo"action="">
            <label for="">Periodo</label>
            <input type="text">
            <label for="" name="Sección">Sección</label>                
                <select name="" id="">
                    <option value="">
                        item1
                    </option>
                    <option value="">
                        item2
                    </option>
                    <option value="">
                        item3
                    </option>
                </select>
            <label for="">número de créditos</label>
            <input type="number">
            <label for="">Descripción</label>
            <input type="textfield">
            <div class="center">
                <input class="btnCurso " type="submit">
            </div>
            
        </form>
        
    </div>
    
</body>
</html>