<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="navbar mb50">
        <div class="item-izquierda">
            <span class="logo">logo</span>
        </div>
        <div class="item-derecha">
            <ul class="lista center">
            	<li class="op op1">inicio</li>
                <li class="op op2">nosotros</li>
                <li class="op op3">contactanos</li>
            </ul>
        </div>  
       
    </div>
    <div class="containerPerfilAdmin">
        <div class="center mb35">
            <img src="/imagenes/boss.png" alt="">
        </div>
        <div class=" containerCategorias">
            <div class="caja center left ">
                <a href="creando_asignatura.html">
                    <span><img src="/imagenes/notebook.png" alt=""></span>
                    Asignatura
                </a>
            </div>
            <div class="caja center left ">
                <a href="creando_curso.html">
                    <span><img src="/imagenes/notebook (1).png" alt=""></span>
                    Curso
                </a>
                
            </div>
            <div class="caja center left ">
                <a href="creando_departamento.html">
                    <span><img src="/imagenes/skyscraper.png" alt=""></span>
                Departamento
                </a>
                
            </div>
            <div class="caja center left">
                <a href="creando_estudiante.html">
                    <span><img src="/imagenes/student.png" alt=""></span>
                    Estudiante
                </a>
                
            </div>
            <div class="caja center left">
                <a href="creando_matricula.html">
                    <span><img src="/imagenes/money.png" alt=""></span>
                    Matricula
                </a>
                
            </div>
            <div class="caja center left">
                <a href="creando_periodo.html">
                    <span><img src="/imagenes/hourglass.png" alt=""></span>
                    Periodo
                </a>
                
            </div>
            <div class="caja center left">
                <a href="creando_profesor.html">
                    <span><img src="/imagenes/teacher.png" alt=""></span>
                    Profesor
                </a>
                
            </div>
            <div class="caja center left">
                <a href="creando_programa_estudio.html">
                    <span><img src="/imagenes/diploma.png" alt=""></span>
                    Programa
                </a>
               
            </div>
            <div class="caja center left">
                <a href="creando_curso.html">
                    <span><img src="/imagenes/courses.png" alt=""></span>
                    Salon
                </a>
               
            </div>
            <div class="caja center left">
                <a href="creando_plan_est.html">
                    <span><img src="/imagenes/book.png" alt=""></span>
                    Plan de estudios
                </a>
                
            </div>

        </div>
    </div>
    
    
</body>
</html>