 .docenteu-section-1 {
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
}

.docenteu-section-1 .docenteu-sheet-1 {
  min-height: 603px;
}

.docenteu-section-1 .docenteu-group-1 {
  width: 505px;
  min-height: 383px;
  background-image: none;
  margin: 60px auto 60px 0;
}

.docenteu-section-1 .docenteu-container-layout-1 {
  padding: 30px 45px;
}

.docenteu-section-1 .docenteu-shape-1 {
  width: 58px;
  height: 58px;
  margin: 38px auto 0 0;
}

.docenteu-section-1 .docenteu-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 15px auto 0 0;
}

.docenteu-section-1 .docenteu-text-2 {
  margin: 27px 0 0;
}

@media (max-width: 1199px) {
  .docenteu-section-1 .docenteu-sheet-1 {
    min-height: 497px;
  }

  .docenteu-section-1 .docenteu-group-1 {
    width: 454px;
  }

  .docenteu-section-1 .docenteu-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 991px) {
  .docenteu-section-1 .docenteu-sheet-1 {
    min-height: 623px;
  }

  .docenteu-section-1 .docenteu-group-1 {
    width: 360px;
    min-height: 503px;
  }

  .docenteu-section-1 .docenteu-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .docenteu-section-1 .docenteu-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
   .docenteu-section-1 {
    background-position: 45% 39.89%;
  }

  .docenteu-section-1 .docenteu-group-1 {
    width: 324px;
  }

  .docenteu-section-1 .docenteu-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .docenteu-section-1 {
    background-position: 61.4% 39.89%;
  }

  .docenteu-section-1 .docenteu-sheet-1 {
    min-height: 567px;
  }

  .docenteu-section-1 .docenteu-group-1 {
    width: 226px;
    min-height: 497px;
  }

  .docenteu-section-1 .docenteu-shape-1 {
    margin-top: 0;
    margin-left: 9px;
  }

  .docenteu-section-1 .docenteu-text-1 {
    font-size: 2.25rem;
    margin-left: 9px;
  }

  .docenteu-section-1 .docenteu-text-2 {
    margin-right: 9px;
    margin-left: 9px;
  }
} .docenteu-section-2 {
  background-image: none;
}

.docenteu-section-2 .docenteu-sheet-1 {
  min-height: 775px;
}

.docenteu-section-2 .docenteu-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  margin: 118px auto 0;
}

.docenteu-section-2 .docenteu-list-1 {
  margin-top: 102px;
  margin-bottom: 60px;
}

.docenteu-section-2 .docenteu-repeater-1 {
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  min-height: 403px;
  grid-gap: 100px 100px;
}

.docenteu-section-2 .docenteu-list-item-1 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.docenteu-section-2 .docenteu-container-layout-1 {
  padding: 0 30px;
}

.docenteu-section-2 .docenteu-icon-1 {
  height: 82px;
  width: 82px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  color: rgb(235, 105, 40) !important;
  margin: -25px auto 0 0;
}

.docenteu-section-2 .docenteu-text-2 {
  font-size: 1.5rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 35px 0 0;
}

.docenteu-section-2 .docenteu-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 13px 0 0;
}

.docenteu-section-2 .docenteu-btn-1 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  margin: 35px auto 0;
  padding: 6px 31px 6px 30px;
}

.docenteu-section-2 .docenteu-list-item-2 {
  background-image: none;
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
}

.docenteu-section-2 .docenteu-container-layout-2 {
  padding: 0 30px;
}

.docenteu-section-2 .docenteu-icon-2 {
  height: 82px;
  width: 82px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  margin: -25px auto 0 0;
}

.docenteu-section-2 .docenteu-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  font-weight: 400;
  margin: 35px 0 0;
}

.docenteu-section-2 .docenteu-text-5 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 13px 0 0;
}

.docenteu-section-2 .docenteu-btn-2 {
  font-size: 0.9375rem;
  border-style: solid;
  font-weight: 700;
  margin: 35px auto 0;
  padding: 6px 31px 6px 30px;
}

@media (max-width: 1199px) {
  .docenteu-section-2 .docenteu-repeater-1 {
    min-height: 332px;
  }

  .docenteu-section-2 .docenteu-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-2 .docenteu-text-2 {
    font-size: 1.25rem;
  }

  .docenteu-section-2 .docenteu-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-2 .docenteu-text-4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .docenteu-section-2 .docenteu-sheet-1 {
    min-height: 1012px;
  }

  .docenteu-section-2 .docenteu-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .docenteu-section-2 .docenteu-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 575px) {
  .docenteu-section-2 .docenteu-text-1 {
    margin-left: 0;
    font-size: 2.25rem;
  }

  .docenteu-section-2 .docenteu-repeater-1 {
    grid-template-columns: 100%;
  }

  .docenteu-section-2 .docenteu-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .docenteu-section-2 .docenteu-text-2 {
    font-size: 1.5rem;
  }

  .docenteu-section-2 .docenteu-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .docenteu-section-2 .docenteu-text-4 {
    font-size: 1.5rem;
  }
} .docenteu-section-3 {
  background-image: none;
}

.docenteu-section-3 .docenteu-sheet-1 {
  min-height: 920px;
}

.docenteu-section-3 .docenteu-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 80px auto 0;
}

.docenteu-section-3 .docenteu-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 55px;
  margin-bottom: 60px;
}

.docenteu-section-3 .docenteu-repeater-1 {
  grid-template-columns: calc(20% - 18.4px) calc(20% - 18.4px) calc(20% - 18.4px) calc(20% - 18.4px) calc(20% - 18.4px);
  min-height: 423px;
  grid-gap: 23px 23px;
  grid-auto-columns: calc(20% - 18.4px);
}

.docenteu-section-3 .docenteu-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.docenteu-section-3 .docenteu-container-layout-1 {
  padding: 30px;
}

.docenteu-section-3 .docenteu-image-1 {
  height: auto;
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.docenteu-section-3 .docenteu-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 47px auto 0;
}

.docenteu-section-3 .docenteu-text-3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.docenteu-section-3 .docenteu-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.docenteu-section-3 .docenteu-container-layout-2 {
  padding: 30px;
}

.docenteu-section-3 .docenteu-image-2 {
  height: auto;
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.docenteu-section-3 .docenteu-text-4 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.docenteu-section-3 .docenteu-text-5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.docenteu-section-3 .docenteu-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.docenteu-section-3 .docenteu-container-layout-3 {
  padding: 30px;
}

.docenteu-section-3 .docenteu-image-3 {
  height: auto;
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.docenteu-section-3 .docenteu-text-6 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.docenteu-section-3 .docenteu-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.docenteu-section-3 .docenteu-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.docenteu-section-3 .docenteu-container-layout-4 {
  padding: 30px;
}

.docenteu-section-3 .docenteu-image-4 {
  height: auto;
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.docenteu-section-3 .docenteu-text-8 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.docenteu-section-3 .docenteu-text-9 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.docenteu-section-3 .docenteu-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
}

.docenteu-section-3 .docenteu-container-layout-5 {
  padding: 30px;
}

.docenteu-section-3 .docenteu-image-5 {
  height: auto;
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.docenteu-section-3 .docenteu-text-10 {
  font-size: 1.5rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  margin: 47px auto 0;
}

.docenteu-section-3 .docenteu-text-11 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .docenteu-section-3 .docenteu-sheet-1 {
    min-height: 904px;
  }

  .docenteu-section-3 .docenteu-repeater-1 {
    grid-template-columns: repeat(5, calc(20% - 18.4px));
    min-height: 349px;
  }

  .docenteu-section-3 .docenteu-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-image-1 {
    height: 153px;
    width: 153px;
  }

  .docenteu-section-3 .docenteu-text-2 {
    font-size: 1.25rem;
  }

  .docenteu-section-3 .docenteu-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-image-2 {
    height: 153px;
    width: 153px;
  }

  .docenteu-section-3 .docenteu-text-4 {
    font-size: 1.25rem;
  }

  .docenteu-section-3 .docenteu-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-image-3 {
    height: 153px;
    width: 153px;
  }

  .docenteu-section-3 .docenteu-text-6 {
    font-size: 1.25rem;
  }

  .docenteu-section-3 .docenteu-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-image-4 {
    height: 153px;
    width: 153px;
  }

  .docenteu-section-3 .docenteu-text-8 {
    font-size: 1.25rem;
  }

  .docenteu-section-3 .docenteu-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-image-5 {
    height: 153px;
    width: 153px;
  }

  .docenteu-section-3 .docenteu-text-10 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .docenteu-section-3 .docenteu-sheet-1 {
    min-height: 1534px;
  }

  .docenteu-section-3 .docenteu-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 15.333333333333334px));
    min-height: 1211px;
    grid-auto-columns: calc(33.333333333333336% - 15.333333333333334px);
  }

  .docenteu-section-3 .docenteu-image-1 {
    height: auto;
    width: auto;
  }

  .docenteu-section-3 .docenteu-text-2 {
    font-size: 1.5rem;
  }

  .docenteu-section-3 .docenteu-image-2 {
    height: auto;
    width: auto;
  }

  .docenteu-section-3 .docenteu-text-4 {
    font-size: 1.5rem;
  }

  .docenteu-section-3 .docenteu-image-3 {
    height: auto;
    width: auto;
  }

  .docenteu-section-3 .docenteu-text-6 {
    font-size: 1.5rem;
  }

  .docenteu-section-3 .docenteu-image-4 {
    height: auto;
    width: auto;
  }

  .docenteu-section-3 .docenteu-text-8 {
    font-size: 1.5rem;
  }

  .docenteu-section-3 .docenteu-image-5 {
    height: auto;
    width: auto;
  }

  .docenteu-section-3 .docenteu-text-10 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  .docenteu-section-3 .docenteu-text-1 {
    font-size: 3rem;
  }

  .docenteu-section-3 .docenteu-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.5px));
    grid-auto-columns: calc(50% - 11.5px);
  }

  .docenteu-section-3 .docenteu-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .docenteu-section-3 .docenteu-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .docenteu-section-3 .docenteu-container-layout-3 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .docenteu-section-3 .docenteu-container-layout-4 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .docenteu-section-3 .docenteu-container-layout-5 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 575px) {
  .docenteu-section-3 .docenteu-text-1 {
    font-size: 2.25rem;
  }

  .docenteu-section-3 .docenteu-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .docenteu-section-3 .docenteu-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-3 .docenteu-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .docenteu-section-4 {
  background-image: none;
}

.docenteu-section-4 .docenteu-sheet-1 {
  min-height: 708px;
}

.docenteu-section-4 .docenteu-layout-wrap-1 {
  width: 1058px;
  margin: 55px auto;
}

.docenteu-section-4 .docenteu-layout-cell-1 {
  min-height: 598px;
}

.docenteu-section-4 .docenteu-container-layout-1 {
  padding: 30px;
}

.docenteu-section-4 .docenteu-text-1 {
  text-transform: none;
  font-weight: 400;
  margin: 126px 0 0;
}

.docenteu-section-4 .docenteu-layout-cell-2 {
  min-height: 598px;
}

.docenteu-section-4 .docenteu-container-layout-2 {
  padding: 30px 50px;
}

.docenteu-section-4 .docenteu-form-1 {
  height: 464px;
  width: 429px;
  margin: 0;
}

.docenteu-section-4 .docenteu-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.docenteu-section-4 .docenteu-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.docenteu-section-4 .docenteu-form-group-3 {
  margin-left: 0;
  font-size: 1rem;
  text-transform: none;
}

.docenteu-section-4 .docenteu-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.docenteu-section-4 .docenteu-input-4 {
  font-size: 1.125rem;
  text-transform: none;
}

.docenteu-section-4 .docenteu-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
  .docenteu-section-4 .docenteu-sheet-1 {
    min-height: 642px;
  }

  .docenteu-section-4 .docenteu-layout-wrap-1 {
    width: 940px;
  }

  .docenteu-section-4 .docenteu-layout-cell-1 {
    min-height: 532px;
  }

  .docenteu-section-4 .docenteu-layout-cell-2 {
    min-height: 532px;
  }

  .docenteu-section-4 .docenteu-form-1 {
    width: 417px;
    margin-top: 4px;
  }
}

@media (max-width: 991px) {
  .docenteu-section-4 .docenteu-sheet-1 {
    min-height: 210px;
  }

  .docenteu-section-4 .docenteu-layout-wrap-1 {
    width: 720px;
  }

  .docenteu-section-4 .docenteu-layout-cell-1 {
    min-height: 100px;
  }

  .docenteu-section-4 .docenteu-layout-cell-2 {
    min-height: 528px;
  }

  .docenteu-section-4 .docenteu-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .docenteu-section-4 .docenteu-form-1 {
    width: 336px;
  }
}

@media (max-width: 767px) {
  .docenteu-section-4 .docenteu-sheet-1 {
    min-height: 310px;
  }

  .docenteu-section-4 .docenteu-layout-wrap-1 {
    width: 540px;
  }

  .docenteu-section-4 .docenteu-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .docenteu-section-4 .docenteu-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .docenteu-section-4 .docenteu-form-1 {
    width: 440px;
  }
}

@media (max-width: 575px) {
  .docenteu-section-4 .docenteu-layout-wrap-1 {
    width: 340px;
  }

  .docenteu-section-4 .docenteu-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-4 .docenteu-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docenteu-section-4 .docenteu-form-1 {
    width: 300px;
  }
}