 .docclaseinfou-section-1 {
  background-image: url("https://images.pexels.com/photos/7516363/pexels-photo-7516363.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: 50% 50%;
}

.docclaseinfou-section-1 .docclaseinfou-sheet-1 {
  min-height: 540px;
}

.docclaseinfou-section-1 .docclaseinfou-group-1 {
  min-height: 403px;
  background-image: none;
  width: 1053px;
  margin: 47px auto 60px;
}

.docclaseinfou-section-1 .docclaseinfou-container-layout-1 {
  padding: 30px 45px;
}

.docclaseinfou-section-1 .docclaseinfou-icon-1 {
  width: 96px;
  height: 96px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 17px auto 0;
}

.docclaseinfou-section-1 .docclaseinfou-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 47px 0 0;
}

.docclaseinfou-section-1 .docclaseinfou-text-2 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .docclaseinfou-section-1 .docclaseinfou-sheet-1 {
    min-height: 445px;
  }

  .docclaseinfou-section-1 .docclaseinfou-group-1 {
    width: 940px;
  }

  .docclaseinfou-section-1 .docclaseinfou-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .docclaseinfou-section-1 .docclaseinfou-text-1 {
    width: 440px;
  }
}

@media (max-width: 991px) {
  .docclaseinfou-section-1 .docclaseinfou-sheet-1 {
    min-height: 623px;
  }

  .docclaseinfou-section-1 .docclaseinfou-group-1 {
    width: 720px;
  }

  .docclaseinfou-section-1 .docclaseinfou-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .docclaseinfou-section-1 .docclaseinfou-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 767px) {
   .docclaseinfou-section-1 {
    background-position: 45% 39.89%;
  }

  .docclaseinfou-section-1 .docclaseinfou-group-1 {
    width: 540px;
  }

  .docclaseinfou-section-1 .docclaseinfou-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .docclaseinfou-section-1 .docclaseinfou-icon-1 {
    margin-top: 139px;
  }

  .docclaseinfou-section-1 .docclaseinfou-text-1 {
    margin-top: -2px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 575px) {
   .docclaseinfou-section-1 {
    background-position: 61.4% 39.89%;
  }

  .docclaseinfou-section-1 .docclaseinfou-sheet-1 {
    min-height: 567px;
  }

  .docclaseinfou-section-1 .docclaseinfou-group-1 {
    width: 340px;
  }

  .docclaseinfou-section-1 .docclaseinfou-icon-1 {
    margin-top: 75px;
  }

  .docclaseinfou-section-1 .docclaseinfou-text-1 {
    font-size: 2.25rem;
    width: 320px;
    margin-top: -6px;
    margin-right: 0;
    margin-left: 9px;
  }

  .docclaseinfou-section-1 .docclaseinfou-text-2 {
    margin-right: 9px;
    margin-left: 9px;
  }
}.docclaseinfou-section-2 .docclaseinfou-sheet-1 {
  min-height: 50vw;
}

.docclaseinfou-section-2 .docclaseinfou-text-1 {
  font-weight: normal;
  margin: 32px 0 0;
}

.docclaseinfou-section-2 .docclaseinfou-list-1 {
  margin-bottom: 60px;
  margin-top: 32px;
}

.docclaseinfou-section-2 .docclaseinfou-repeater-1 {
  min-height: 375px;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.docclaseinfou-section-2 .docclaseinfou-container-layout-1 {
  padding: 10px;
}

.docclaseinfou-section-2 .docclaseinfou-icon-1 {
  width: 64px;
  height: 64px;
  margin: 17px auto 0 6px;
}

.docclaseinfou-section-2 .docclaseinfou-text-2 {
  margin: -50px 412px 0 70px;
}

.docclaseinfou-section-2 .docclaseinfou-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 0 0 auto;
  padding: 6px 128px 6px 127px;
}

.docclaseinfou-section-2 .docclaseinfou-container-layout-2 {
  padding: 10px;
}

.docclaseinfou-section-2 .docclaseinfou-icon-2 {
  width: 64px;
  height: 64px;
  margin: 17px auto 0 6px;
}

.docclaseinfou-section-2 .docclaseinfou-text-3 {
  margin: -50px 412px 0 70px;
}

.docclaseinfou-section-2 .docclaseinfou-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 0 0 auto;
  padding: 6px 128px 6px 127px;
}

.docclaseinfou-section-2 .docclaseinfou-container-layout-3 {
  padding: 10px;
}

.docclaseinfou-section-2 .docclaseinfou-icon-3 {
  width: 64px;
  height: 64px;
  margin: 17px auto 0 6px;
}

.docclaseinfou-section-2 .docclaseinfou-text-4 {
  margin: -50px 412px 0 70px;
}

.docclaseinfou-section-2 .docclaseinfou-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px 0 0 auto;
  padding: 6px 128px 6px 127px;
}

@media (max-width: 1199px) {
  .docclaseinfou-section-2 .docclaseinfou-text-2 {
    margin-right: 282px;
    margin-left: 0;
  }

  .docclaseinfou-section-2 .docclaseinfou-btn-1 {
    padding-right: 31px;
    padding-left: 30px;
  }

  .docclaseinfou-section-2 .docclaseinfou-text-3 {
    margin-right: 282px;
    margin-left: 0;
  }

  .docclaseinfou-section-2 .docclaseinfou-text-4 {
    margin-right: 282px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .docclaseinfou-section-2 .docclaseinfou-text-2 {
    margin-right: 62px;
  }

  .docclaseinfou-section-2 .docclaseinfou-text-3 {
    margin-right: 62px;
  }

  .docclaseinfou-section-2 .docclaseinfou-text-4 {
    margin-right: 62px;
  }
}

@media (max-width: 767px) {
  .docclaseinfou-section-2 .docclaseinfou-text-2 {
    margin-right: 0;
  }

  .docclaseinfou-section-2 .docclaseinfou-text-3 {
    margin-right: 0;
  }

  .docclaseinfou-section-2 .docclaseinfou-text-4 {
    margin-right: 0;
  }
}